@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    overflow-x: hidden;
    position: relative;
}

#root {
    overflow-x: hidden;
}

.info-bar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 500px;
    padding: 4rem 3rem;
    transition: background-color 1s;
    color: #e9e9e9;
}

.info-bar_inside {
    font-size: 1.2rem;

}

.info-bar_inside hr {
    background-color: rgb(177, 177, 177);
    height: 0.1rem;
    border: none;
}

.info-bar_inside > * {
    margin-bottom: 2.4rem;
}

input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: solid rgb(177, 177, 177) 2px;
    font-size: 1.6rem;
    color: white;
    width: 90%;
    margin-bottom: 2rem;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #b1b1b1;
    font-size: 1.6rem;
}

.search {
    height: auto;
    width: 2rem;
    position: absolute;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-top: -1.5rem;
}

button {
    background-color: #ffffff00;
    border: none;
    position: relative;
}

.weather-icon {
    height: auto;
    width: 500px;
}

.switch {
    position: relative;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.left-side {
    color: white;
    height: 100vh;
    transition: background-color 2s;
}

.left-side_display {
    position: absolute;
    bottom: 25%;
    left: 8%;
    display: flex;
    align-items: center;
}

.left-side_display > * {
    margin-right: 2rem;
}

.temp {
    font-size: 5rem;
    font-family: 'Lato', sans-serif;
}

.display_icon {
    font-size: 1.4rem;
    position: relative;
}

.display_icon img {
    width: 100px;
    height: auto;
    position: relative;
    left: 50%;
    margin-left: -50px;
}

.country {
    font-size: 1.6rem;
}

.switch-controller {
    display: flex;
    margin-bottom: 2.4rem;
    font-size: 1.2rem;

}

.switch-controller > *:first-child{
    margin-right: 1rem;
}

h1 {
    padding: 2rem;
    font-family: 'Lato', sans-serif;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 34px;
    height: 6px;
    background-color: #e9e9e9;
    transition: 0.5s;
}

.burger div:not(:last-child) {
    margin-bottom: 6px;
}

@media only screen and (max-width: 768px) {
    .info-bar {
        transform: translateX(100vh);
        transition: 1s;
        height: 100vh;
        width: 100vw;
    }

    .left-side_display {
        flex-direction: column;
        left: 28%;
    }

    .left-side_display > *:not(:last-child) {
        margin-bottom: 1.4rem;
    }

    .burger {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 82%;
        top: 3.5%;
        z-index: 1;
    }

    .burger:hover > div {
        background-color: white;
    }

    h1 {
        padding: 1rem 0 0 3rem;
    }

    .show {
        transform: translateX(0);
    }
}