@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.info-bar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 500px;
    padding: 4rem 3rem;
    color: white
}

.info-bar_inside {
    font-size: 1.2rem;
    color: #e9e9e9;
}

.info-bar_inside hr {
    background-color: rgb(177, 177, 177);
    height: 0.1rem;
    border: none;
}

.info-bar_inside > * {
    margin-bottom: 2.4rem;
}

input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: solid rgb(177, 177, 177) 2px;
    font-size: 1.6rem;
    color: white;
    width: 90%;
    margin-bottom: 2rem;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #b1b1b1;
    font-size: 1.6rem;
}

.search {
    height: auto;
    width: 2rem;
    position: absolute;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-top: -1.5rem;
}

button {
    background-color: #ffffff00;
    border: none;
    position: relative;
}

.weather-icon {
    height: auto;
    width: 500px;
}

.switch {
    position: relative;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.left-side {
    color: white;
    height: 100vh;
}

.left-side_display {
    position: absolute;
    bottom: 25%;
    left: 8%;
    display: flex;
    align-items: center;
}

.left-side_display > * {
    margin-right: 2rem;
}

.temp {
    font-size: 5rem;
}

.display_icon {
    font-size: 1.4rem;
    position: relative;
}

.display_icon img {
    width: 100px;
    height: auto;
    position: relative;
    left: 50%;
    margin-left: -50px;
}

.country {
    font-size: 1.6rem;
}

.switch-controller {
    display: flex;
    margin-bottom: 2.4rem;
    font-size: 1.2rem;
}

.switch-controller > *:first-child{
    margin-right: 1rem;
}